sudo: required
language: android
dist: trusty
before_install:
  - chmod +x gradlew
android:
  components:
    # Uncomment the lines below if you want to
    # use the latest revision of Android SDK Tools
    # - tools
    # - platform-tools
    # The BuildTools version used by your project
    - build-tools-28.0.3
    # The SDK version used to compile your project
    - android-28
    # Additional components
    - extra-android-m2repository
    # Specify at least one system image,
    # if you need to run emulator(s) during your tests
    - sys-img-x86-android-28
before_script:
  - chmod +x gradlew
  - mkdir "$ANDROID_HOME/licenses" || true
  - echo "24333f8a63b6825ea9c5514f83c2829b004d1fee" > "$ANDROID_HOME/licenses/android-sdk-license"
script:
  - ./gradlew assembleRelease --stacktrace
notifications:
webhooks: https://outlook.office.com/webhook/becd7648-b3f0-4a5b-8597-93d10ba784ab@4c16deb3-342d-4fca-bcd5-b1429308034c/TravisCI/feffeda7a12246f5a7c4066538d3bb70/e93046d6-9857-4153-8e7f-937760066838